<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="adminMapper">
  	<resultMap type="admin" id="adminResultSet">
		<result column="A_NO" property="aNo" />
		<result column="AG_NO" property="aGno" />
		<result column="A_ID" property="aId" />
		<result column="A_PWD" property="aPwd" />
		<result column="A_NAME" property="aName" />
		<result column="A_RESIDENT_NO" property="aResidentNo" />
		<result column="A_EMAIL" property="aEmail" />
		<result column="A_PHONE" property="aPhone" />
		<result column="A_HIRE_DATE" property="aHireDate" />
		<result column="A_MODIFY_DATE" property="aModifyDate" />
		<result column="A_QUIT_DATE" property="aQuitDate" />
		<result column="A_STATUS" property="aStatus" />
	</resultMap>
	
	
	<!-- 일반관리자리스트 조회 (특수관리자페이지) -->
	<select id="adminList" resultMap="adminResultSet">
	
		SELECT *
		FROM TB_ADMIN
		WHERE A_STATUS = 'Y'
		ORDER BY A_NO ASC
	
	</select>
	
	
	
	<!-- 일반관리자 상세 조회 (특수관리자페이지) -->
	<select id="detailAdmin" resultMap="adminResultSet">
	
		SELECT *
		FROM TB_ADMIN
		WHERE A_NO=#{aNo}
		AND A_STATUS='Y'
	
	</select>
	
	
  </mapper>